<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
<title> Predict the type of iris flower </title>
</head>

<body>
<h1> Predict the type of iris flower (Setosa, Versicolor, or Virginica) using a K nearest neighbors classifier (k=3)</h1>
<div class="wrapper">
<div class="form">

<form action = "{{ url_for('predict')}}" method="post">
	<input type="text" name="sepal_length" placeholder= "Sepal Length(cm)" required="required" /> <br> <br>
	<input type="text" name="sepal_width" placeholder= "Sepal Width(cm)" required="required" /> <br> <br>
	<input type="text" name="petal_length" placeholder= "Petal Length(cm)" required="required" /> <br> <br> 
	<input type="text" name="petal_width" placeholder= "Petal Width(cm)" required="required" /> <br> <br>
	<button type="submit"> Predict </button>

<br>
<br>
{{ prediction_text }}
</form>

</div>
	<div class="image">
 <img src="{{ iris }}" alt="">
	</div>

</div>
</body>
</html>